/.bootstrap.auto
/.bootstrap.local
/dependencies
/addictions
/.bootstrap.repos
/stashes
build*.d/
build/
mulle-configuration
.DS_Store
*.bak
*.old
tmp.*
bin/mulle-homebrew
mulle-configurationbin/tap-info.sh
tap-info.sh
