{
   project =
   {
      description="📒 Lists mulle-objc runtime information contained in executables.";
      domain="github";
      name="mulle-objc-list";
      user="mulle-objc";
      repo="mulle-objc-list";
      homepage="https://github.com/mulle-objc/mulle-objc-list";
      license="BSD-3-Clause"
   };
   dependencies =
   (
      {
         description="⏩ A fast, portable Objective-C runtime written 100% in C11";
         domain="github";
         name="mulle-objc-runtime";
         repo="mulle-objc-runtime";
         url="https://github.com/mulle-objc/mulle-objc-runtime";
         user="mulle-objc";
      },
      {
         description="🤱🏼 Compatibility library for deterministic initializers";
         domain="github";
         name="mulle-atinit";
         repo="mulle-atinit";
         url="https://github.com/mulle-core/mulle-atinit";
         user="mulle-core";
      },
      {
         description="👼 Compatibility library to fix atexit";
         domain="github";
         name="mulle-atexit";
         repo="mulle-atexit";
         url="https://github.com/mulle-core/mulle-atexit";
         user="mulle-core";
      }
   );
}
